@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,900&family=Roboto+Condensed&family=Russo+One&display=swap");

:root {
    --primary: #003049;
    --secundary: #306180;
    --transparent: #ffffff00;
    
    --headers-color: white;
    --text-color: black;
    --label-text: rgb(30, 100, 222);
    --active: #fca311;
  
    --card-backgroud: #80808048;

    --layout: solid 2px red;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: block;
  margin: 0 auto;
  font-size: 22px;
  margin: auto;
  padding: 0;
  width: 100%;
}


header {
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  width: 100%;
  margin: 0;
}

header h1 {
    color: white;
    margin: 10px;
    padding-left: 20px;
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
   
}

nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav .open{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 1rem auto;
    list-style: none;
    width: 100vh;
}
  
button#menu {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.7rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 0.1rem;
    right: 1rem;
    
  }
  
  #menu::before {
    content: "☰";
  }
  
  #menu.open::after{
    content: "❎";
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
  
   
  }
  
 nav {
    display: flex;
    flex-direction: column;
    width: 100vh;
    color: white;
 }
  
  nav ul {
    list-style: none;
  }
  nav a {
    display: none;
    padding: 5px;
    flex-direction: column;
    margin-right: 20px;
    font-size: 1.2rem;
    text-align: center;
    padding-right: 50px;
  }
  
  nav a:hover {
    background-color: #457b9d;
    color: #f1faee;
  }
  
  .open a {
    display: block;
    color: #fca311;
    background-color: var(--primary);
    margin: 0;
  }
  
  
  .active::before {
    content: "📍";
  }
  

nav a:hover {
  text-align: center;
  background-color:var(--headers-color);
  color: red;
  padding: 10px 35px;
}

.main_part {
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  width: 1600px;
}

  

  
picture.main_img img {
  width: 100%;
  height: auto;
}


.subtitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 0px 20px 30px;
  text-justify: auto;
  text-align: justify;
  font-size: 1.5rem;
  margin: 0;
  color: var(--secundary);
}

.main_text p {
    font-size: 1rem;
    color: black;
    font-size: 1rem;
   
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 40px 20px 20px 20px;
  text-justify: auto;
  text-align: center;
  font-size: 1.5em;
  color: var(--primary);
  margin-top: 0cm;
}



.second_part {
  margin: 0;
}

.call_to_Action {
    margin: auto;
    width: 70%;
  

}
.button-box {
    display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 15px;
  margin: auto;
 

}

.call_msg {
   display: block;
  background-color: #e63946;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  font-family: "Galindo", "Poppins", sans-serif;
  padding: 15px 20px 15px 20px; 
  border-radius: 5px;
}

.call_msg:hover {
  background-color: #ac2934;
  color: #f1faee;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  font-family: "Galindo", "Poppins", sans-serif;
  padding: 15px 20px 15px 20px; 
  margin-top: 5px;
  border-radius: 5px;
}




  footer p{
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    padding: 15px 10px 15px 0px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 1rem;
  }
  

  footer p {
    background-color: var(--primary);
    margin: 0;
  }
  

#lastModified { 
    color: rgb(249, 196, 64);
    margin: 0;
  }

/*PRODUCT PAGE*/

#products article img {
  object-fit: cover;
  width: 100%;
  height: auto;
  MARGIN: 0;
}

article {

  background-color: var(--card-backgroud);
margin: 20px;
margin-bottom: 40px;
  border-radius: 5%;
  text-align: center;
  padding: 2px;
  padding-top: 20px;
  border-radius: 10px; /* Borde redondeado (opcional) */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /* Sombra gris */
 
}

#homeTitle {
  text-align: center;
  color: var(--secundary);
  padding-top: 40px;
  padding-bottom: 40px;

  margin-top: 20px;

}
article h3 {
color: var(--text-color);
font-size: 1.2rem;
text-align: center;
padding-bottom: 7px;
font-size: 2rem;
}



article p {
  text-align: center;
  margin: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  row-gap: 20px;
  font-size: 1.5rem;

}


article p .label {
  color: var(--secundary);
  font-style: italic;
  
  
}

article img {
  margin: 10px 10px 20px 10px;
}


.button-box {
  margin-top: 50px;
 }

 .products {
  margin: 50px;
  
  }

.second_part.button-box{
  margin-top: 50px;
  }

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--primary);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 50px;
  }
  

    th, td {
        padding: 0.5rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        white-space: pre;
        font-size: 1.5rem;
    }

    thead th, tbody td {
        text-align: center;
        font-size: 1.2rem;
    }

    thead {
        color: #fff;
        background: var(--primary);
    }

    thead th {
            padding: 1rem;
            font-size: 1.5rem;
        }

      tr:nth-last-child(1) {
            background-color: white;
            color: var(--primary)
        }
    

    tbody tr:nth-child(even) {
        background-color: #eee;
    }

    .blank {
        background-color: var(--primary);
    }
    .blank th {
      font-size: 1.2rem;
    }
  



  /* Form interactivo - Product page */

  form h2 {
    color: var(--secundary);
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
  }

  form h2::before {
    content: " ♦️ ";
  }

  form h2::after {
    content: " ♦️ ";
  }
  form {
    background-color: white;
    max-width: 490px;
    margin: 50px;
    padding: 1rem;
    background: #f9f9f9;
    border-radius: 1px solid var(--primary);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family:Arial, Helvetica, sans-serif;
  }

  #evaluationForm {
    background-color: white;
  }
label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    padding-left: 10px;
    color: #555;
   
}
button {
    background: var(--secundary);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

#result {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;

}








/* END PRODUCT PAGE */

/* SUPPORT PAGE */

form {
  margin:auto;
  width: 80%;
  
}
#title-form {
  color: var(--secundary);
  text-align: center;
  margin: 50px;
  font-size: 1.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.wf1 fieldest {
  margin: 2rem 0rem;
  border: 1px solid #ddd;
  border-radius: .5rem 2%;
  padding: .5rem 2%
}


.wf1 legend {
  color: #445ba9;
  padding: 0 .5rem;
}

.wf1 label {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .9rem;
}

.wf1 div {
  padding-top: 1rem;
  color: #445ba9;
  font-size: .9rem;
  ;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 select,
.wf1 input[type="number"]
{
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 400px;
  appearance: none;

}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]
{
  margin-right: 6px;;
}

.wf1 input[type="submit"] {
  border: none;
  background-image: linear-gradient(#9c2c13, #6f200e);
  color: #fff;
  border-radius: 6px;
  padding: .8rem;
  width: 95%;
  max-width: 400px;
  margin: 1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #999;

  
}

.wf1 input:required {
  border-bottom: solid 8px rgb(156, 1, 1);
}

.wf1 input:required:valid {
  border-bottom: solid 8px green;
}


input#form-button {
  margin-top: 20px;
  margin-bottom: 40px;
  align-content: center;
}


#Greeting {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#Greeting::after {
  content: " ☑️";
  display: inline-block;
  margin-left: 5px; /* Optional: Add some space between the text and the checkmark */
}
/*SUPPORT PAGE ^/










/* Display the columns below each other instead of side by side on small screens */
@media screen and (min-width: 550px) {

    body, main {
        min-width: 100%; 
      }

    button#menu {
      display: none;
    }
    
    nav {
        color: var(--active);
        max-width: 100%;
        margin: 1rem auto;
        width: 100vh;
       
      }

      nav .ul {
        list-style: none;
        display: flex;
        flex-direction: row;
      }
      nav .ul li a {
        display: flex;
        flex-direction: row;
        padding: 5px;
        margin: 10px;
        font-size: 1.2rem;
        text-align:end;
        color: var(--active)
      }
     
      main {
        max-width: 1600px;
        margin: 0 auto;
        overflow: hidden;
      }

      .main_part {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        width:100%;
        gap:10px;
        box-sizing: border-box;
      }
      
      .main_img {
        grid-column: 1/2;
        width:100%;
        height: auto;
        max-width: 100%;
        padding: 0;
      }
  
      .main_text {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        font-size: 0.8rem;
    
      }  
      
      .main_text p {
        background-color: aliceblue;
        font-size: 1.2rem;
      
      }

    

     .button-box {
      margin-top: 50px;
     }

     .products {
      margin: 50px;
      
      }

.second_part.button-box{
      margin-top: 50px;
      }
    }
  





