
/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .8rem 2%;
    background-color: #605d5d;
    color: white;
}
header h1 {margin: 0;
        text-align: center;
        padding: 20px;
        
        
}
header h2 {
    margin: 0; 
    font-weight: normal;}


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
    background-color: white;
   

}

form {
    background-color:#e8e6e6 ;
}
/*-----------FORM STYLING --------------*/



.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

.wf1 div {
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
    ;
}

.wf1 input[type="text"],
.wf1 select,
.wf1 input[type="number"]
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #7e7c7c;
    width: 100%;
    max-width: 400px;
    appearance: none;

}

.wf1 select {
    background-color: white;
}

.wf1 #date,
.wf1 select #productName {
    background-color: white;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]
{
    margin-right: 6px;;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 95%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    

    
}

.wf1 input:required, 
.wf1 label #Product {
    border-bottom: solid 8px red;
}

.wf1 input:required:valid {
    border-bottom: solid 8px green;
}

#name {
    margin-bottom: 30px;
}

#submit {
    font-size: 1.5rem;
}
#reviewCounter {
    font-size: 1.5rem;
}
/*----------- FOOTER --------------*/
footer {
    background-color: #605d5d;
    padding: .5rem 2%;
    text-align: center;
    color: white;
}
